@font-face {
  font-family: "Futura PT";
  src: url("../fonts/") format("woff2"),
      url("../fonts/subset-FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/subset-FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F9F8F8;
  color: #222;
  background-image: url("../img/bg.png");
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.site-header {
  position: relative;
}

.site-logo {
  position: absolute;
  top: 21px;
  left: calc(50% - 720px);
}

.site-header__header-top {
  background-color: #F9F8F8;
}

.header-top {
  display: flex;
  padding: 8px 0;
}

.address {
  margin: 0;
  display: flex;
  align-items: baseline;
  color: #333;
  font-size: 14px;
  margin-left: 150px;
}

.address::before {
  content: "";
  display: block;
  width: 14px;
  height: 13px;
  background-image: url("../img/home-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 9px;
}

.tel {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.tel::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/tel-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 9px;
}

.tel__phone {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 2px;
}

.tel__phone:hover {
  color: #FFBD54;
}

.tel__phone:active {
  color: #333;
  opacity: 0.6;
}

.tel-1::after,
.tel-2::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #FFBD54;
  border-radius: 50%;
  margin: 0 5px;
}

.time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style: none;
  font-size: 14px;
  color: #333;
  margin-left: auto;
}

.time__work {
  margin-right: 15px;
}

.time__work,
.time__weekend{
  white-space: nowrap;
}

.site-header__header-bottom {
  background-color: #fff;
}

.header-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}

.site-navbar {
  width: 900px;
  margin-left: 200px;
  margin-right: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  margin: 0 30px;
}

.nav-link:hover::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #F4FFAD;
}

.nav-link:active {
  opacity: 0.6;
}

.active::before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/active.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: -15px;
}

.quession {
margin-left: auto;
display: flex;
align-items: center;
text-decoration: none;
color: #333;
font-size: 14px;
}

.quession::before {
  content: "";
  display: block;
  width: 23px;
  height: 20px;
  background-image: url("../img/pet.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 9px;
}

      /* MAIN */

.hero {
  background-image: url("../img/hero.png"), url("../img/bird-izi.png");  background-repeat: no-repeat;
  background-position: calc(50% - 600px)  -100px,
                       calc(50% + 750px)  75%;
  padding: 150px 0;
}
.hero__container {
  display: flex;
}
.hero-left {
  flex: 1;
}
.hero-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.hero-title {
  font-size: 70px;
  color: #333;
  margin: 0;
}
.blue-title {
  display: block;
  color: #78C0DE;
}
.hero-text {
  font-weight: normal;
  font-size: 16px;
  color: #949494;
  max-width: 495px;
  margin: 0;
  padding: 29px 0 38px 0;
}
.hero-link {
  background-color: #333;
  color: #fff;
  padding: 15px 45px;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 100px;
}
.hero-link:hover {
  color: #333;
  background-color: #FFBD54;
}
.hero-link:active {
  color: #333;
  background-color: #FFBD54;
  opacity: 0.6;
}
    /* blockquote */
.blockquote {
  margin-bottom: 150px;
}
.blockquote__container {
  margin-bottom: 50px;
}
.blockq {
  width: 753px;
  text-align: center;
  display: flex;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  color: #949494;
  font-size: 20px;
}
.blockq::before {
  position: absolute;
  top: -45%;
  left: -15%;
  content: "";
  display: block;
  width: 142px;
  height: 128px;
  background-image: url("../img/bk1.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.blockq::after {
  position: absolute;
  top: 45%;
  right: -15%;
  content: "";
  display: block;
  width: 142px;
  height: 128px;
  background-image: url("../img/bk2.svg");
  background-repeat: no-repeat;
  background-position: top center;
}
.blockq-hr {
  border: none;
  height: 2px;
  background-color: #dbdbdb;
  width: 140px;
}
.blockq-tit {
  font-weight: bold;
  text-align: center;
  color: #333;
}

       /* SERVICES */

.services{
  position: relative;
}

.services__title {
  margin: 80px 0;
  color: #333;
  font-size: 48px;
  line-height: 54px;
}

.servic-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.servic-link {
  background-color: #fff;
  display: block;
  width: 193px;
  height: 201px;
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  padding: 20px;
  margin-right: 13px;
}

.active-servic {
  padding-bottom: 500px;
}

.active-servic .servic-link{
  border: none;
  height: 220px;
}

.servic-link::before {
  content: "";
  display: block;
  width: 54px;
  height: 77px;
  background-image: url("../img/doc.svg");
}

.servic-link__text {
  margin: 0;
  padding: 20px 0 0 0;
  width: 100px;
}

.sevices__btn {
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 50;
}

.sevices__btn:hover {
  background-color: #fff;
}

.sevices__btn:active {
  opacity: 0.6;
}

.services__title {
  text-align: center;
  font-size: 48px;
  line-height: 54px;
  color: #333;
}

.left {
  top: 60%;
  left: calc(50% - 690px);
  width: 50px;
  height: 50px;
  background-image: url("../img/left.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 26px;
}

.right {
  top: 60%;
  left: calc(50% + 630px);
  width: 50px;
  height: 50px;
  background-image: url("../img/right.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 26px;
}

.services-item--none {
  display: none;
}

.ds-none {
  display: none;
}

.osmotr {
  width: 1222px;
  position: absolute;
  display: flex;
  padding: 42px 35px;
  background-color: #fff;
}

.osmotr__right {
  margin-left: 50px;
}

/* FOLLOWING */

.following {
  background-image:  url("../img/follow-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 100px  200px 200px 200px;
  display: block;
  margin-bottom: 100px;
}

.following__title {
  padding-top: 50px;
  font-size: 48px;
  color: #fff;
}

.following-btn {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  padding: 15px 50px;
  border: none;
  margin-left: 21px;
}

      /* CONTACT */

.contact {
  display: flex;
  margin-bottom: 250px;
}

.contact__left {
  position: relative;
}

.map {
  width: 100%;
  height: 652px;
}

.contact__vektorcha {
  position: absolute;
  top: 50%;
  left: 40%;
}

.contact__right {
  height: 652px;
  background-color: #333;
  width: 100%;
  padding: 40px 0 0 160px;
  background-image: url("../img/fishbg.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
}

.contact__title {
  color: #fff;
  font-weight: bold;
  font-size: 48px;
  margin: 0;
}

.contact__text {
  color: #949494;
  font-size: 16px;
  width: 350px;
}

.input {
  width: 375px;
  padding: 16px 0 13px 22px;
  font-size: 16px;
  color: #949494;
  margin-bottom: 14px;
  border: 2px solid transparent;
  outline: none;
  border-radius: 5px;
}

.input:focus,
.text-area:focus {
  border: 2px solid #FFBD54;
}

.text-area {
  padding: 16px 0 13px 22px;
  font-size: 16px;
  color: #949494;
  margin-bottom: 14px;
  border: 2px solid transparent;
  width: 375px;
  height: 165px;
  border-radius: 5px;
  outline: none;
}

.email-input:not(:placeholder-shown):invalid {
  border: 2px solid red;
}

.contact__btn {
  background-color: #FFBD54;
  color: #fff;
  font-size: 16px;
  padding: 15px 50px;
  border: none;
}

      /* FOOTER */

.site-footer {
  background-color: #F3F3F3;
  padding:  60px  0 20px 0;
}

.footer {
  display: flex;
  height: 150px;
}

.logo {
  width: 178px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.footer__nav-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 50px;
}

.footer__nav-item {
  margin-right: 50px;
  margin-bottom: 20px;
}

.footer__nav-link{
  text-decoration: none;
  color: #333;
  line-height: 25px;
}

.footer__nav-link:hover {
  color: #FFBD54;
}

.footer__nav-link:active {
  color: #333;
  opacity: 0.6;
}

.footer__time {
  margin: 0 100px 0 150px;
}

.footer__time {
  display: flex;
  align-items: flex-start;
}

.footer__address--text {
  margin: 0;
  padding: 0;
}

.footer__tel {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  margin-left: auto;
}

.tel-item {
  padding: 2px 0;
}

.footer__time::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url("../img/calendar-icon.svg");
  margin-right: 9px;
  margin-top: 5px;
}

.footer__address{
  display: flex;
  align-items: flex-start;
}

.footer__address::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/home-icon.svg");
  margin-right: 9px;
  margin-top: 6px;
}

.footer__tele {
  display: flex;
  margin-left: auto;
}

.footer__tele::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/tel-icon.svg");
  background-repeat: no-repeat;
  margin-right: -30px;
  margin-top: 6px;
}

.tel__link {
  text-decoration: none;
  color: #333;
}

.tel__link:hover {
  color: #FFBD54;
}

.tel__link:active {
  color: #333;
  opacity: 0.6;
}

.footer-bottom {
  margin: 0;
  padding: 0;
  text-align: right;
  color: #5C5C5C;
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background-image: url("../img/bg@2x.png");
  }
  .hero {
    background-image: url("../img/hero@2x.png"),
                    url("../img/bird-izi@2x.png");
  }
}