@font-face {
  font-family: "Futura PT";
  src: url("../fonts/") format("woff2"),
      url("../fonts/subset-FuturaPT-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT Book";
  src: url("../fonts/subset-FuturaPT-Book.woff2") format("woff2"),
      url("../fonts/subset-FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/subset-FuturaPT-Bold.woff2") format("woff2"),
      url("../fonts/subset-FuturaPT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Futura PT", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #F9F8F8;
  color: #222;
  background-image: url("../img/bg.png");
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1350px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.1); */
}

.site-header {
  position: relative;
}

.site-logo {
  position: absolute;
  top: 21px;
  left: calc(50% - 720px);
}

.site-header__header-top {
  background-color: #F9F8F8;
}

.header-top {
  display: flex;
  padding: 8px 0;
}

.address {
  margin: 0;
  display: flex;
  align-items: baseline;
  color: #333;
  font-size: 14px;
  margin-left: 150px;
}

.address::before {
  content: "";
  display: block;
  width: 14px;
  height: 13px;
  background-image: url("../img/home-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 9px;
}

.tel {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.tel::before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  background-image: url("../img/tel-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 9px;
}

.tel__phone {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  padding: 2px;
}

.tel__phone:hover {
  color: #FFBD54;
}

.tel__phone:active {
  color: #333;
  opacity: 0.6;
}

.tel-1::after,
.tel-2::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #FFBD54;
  border-radius: 50%;
  margin: 0 5px;
}

.time {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style: none;
  font-size: 14px;
  color: #333;
  margin-left: auto;
}

.time__work {
  margin-right: 15px;
}

.time__work,
.time__weekend{
  white-space: nowrap;
}

.site-header__header-bottom {
  background-color: #fff;
}

.header-bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0;
}

.site-navbar {
  margin-left: 200px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  list-style: none;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  white-space: nowrap;
  margin: 0 30px;
}

.nav-link:hover::after {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #F4FFAD;
}

.nav-link:active {
  opacity: 0.6;
}

.active::before{
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../img/active.svg");
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: -15px;
}

.quession {
margin-left: auto;
display: flex;
align-items: center;
text-decoration: none;
color: #333;
font-size: 14px;
}

.quession::before {
  content: "";
  display: block;
  width: 23px;
  height: 20px;
  background-image: url("../img/pet.svg");
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 9px;
}

      /* MAIN */

      .hero {
        background-image: url("../img/hero.png"), url("../img/bird-izi.png");
        background-repeat: no-repeat;
        background-position: calc(50% - 600px)  -100px,
                             calc(50% + 750px)  75%;
        padding: 150px 0;
      }

      .hero__container {
        display: flex;
      }

      .hero-left {
        flex: 1;
      }


      .hero-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex: 1;
      }

      .hero-title {
        font-size: 70px;
        color: #333;
        margin: 0;
      }
      .blue-title {
        display: block;
        color: #78C0DE;
      }

      .hero-text {
        font-weight: normal;
        font-size: 16px;
        color: #949494;
        max-width: 495px;
        margin: 0;
        padding: 29px 0 38px 0;
      }

      .hero-link {
        background-color: #333;
        color: #fff;
        padding: 15px 45px;
        text-decoration: none;
        border-radius: 3px;
        margin-bottom: 100px;
      }

      .hero-link:hover {
        color: #333;
        background-color: #FFBD54;
      }

      .hero-link:active {
        color: #333;
        background-color: #FFBD54;
        opacity: 0.6;
      }

          /* blockquote */

      .blockquote {
        margin-bottom: 150px;
      }

      .blockquote__container {
        margin-bottom: 50px;
      }

      .blockq {
        width: 753px;
        text-align: center;
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        color: #949494;
        font-size: 20px;
      }

      .blockq::before {
        position: absolute;
        top: -45%;
        left: -15%;
        content: "";
        display: block;
        width: 142px;
        height: 128px;
        background-image: url("../img/bk1.svg");
        background-repeat: no-repeat;
        background-position: top center;
      }

      .blockq::after {
        position: absolute;
        top: 45%;
        right: -15%;
        content: "";
        display: block;
        width: 142px;
        height: 128px;
        background-image: url("../img/bk2.svg");
        background-repeat: no-repeat;
        background-position: top center;
      }

      .blockq-hr {
        border: none;
        height: 2px;
        background-color: #dbdbdb;
        width: 140px;
      }

      .blockq-tit {
        font-weight: bold;
        text-align: center;
        color: #333;
      }


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}